.loader {
    margin: 5% 41%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .lds-circle {
    height: 200px;
    display: inline-block;
    transform: translateZ(1px);
    padding: 54px 57px 69px 116px;
  }
  .lds-circle > div {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    border-radius: 50%;
    background: #fdd;
    animation: lds-circle 6.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }
  

  /* index page css */
  .inonerow{
    display: flex;
    flex-flow: row;
    overflow: scroll;;   
   }
   .setimagewidth{
    width:240px
   }
   ul.pagination{
     margin-top: 20px;
     justify-content: center;
     align-items: center;
     padding: 15px;
     box-shadow: 0px 0px 10px #7a7b7b45;
   }
   .pagination>li.active>a {
    border-radius: 50% !important;margin: 0 5px; background-color: #17bcde; padding: 8px 11px;color:white;
   }
   .pagination>li>a {
      border-radius: 50% !important;margin: 0 5px;
     }

     ::-webkit-scrollbar {
      width: 0px; 
      background: transparent; 
      }
      
      ::-webkit-scrollbar-thumb {
      background: transparent;
      width: 0px;
      }